################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Helios.Frontend/.vs/Helios.Frontend/FileContentIndex
*.suo
/Helios.Frontend/Helios.eCRF/obj
/Helios.Frontend/obj/Docker
/Helios.Frontend/obj**
/Helios.Frontend/Helios.eCRF/bin/Debug/net8.0
/Helios.Frontend/.vs
/Helios.Frontend/Helios.eCRF/ClientApp/node_modules/.bin
/Helios.Frontend/Helios.eCRF/ClientApp/node_modules
/Helios.Frontend/bin/Debug/Helios.eCRF.dll
/Helios.Frontend/bin/Debug/Helios.eCRF.exe
/Helios.Frontend/bin/Debug/Helios.eCRF.pdb
/Helios.Frontend/bin/Debug/Helios.Common.dll
/Helios.Frontend/bin/Debug/Helios.eCRF.deps.json
