################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Helios.Frontend/.vs/Helios.Frontend/FileContentIndex
*.suo
