################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Helios.Frontend/.vs/Helios.Frontend/FileContentIndex
*.suo
/Helios.Frontend/Helios.eCRF/obj
/Helios.Frontend/obj/Docker
/Helios.Frontend/obj**
/Helios.Frontend/Helios.eCRF/bin/Debug/net8.0
/Helios.Frontend/.vs
/Helios.Frontend/Helios.eCRF/ClientApp/node_modules/.bin
/Helios.Frontend/Helios.eCRF/ClientApp/node_modules
/Helios.Frontend/bin/Debug/Helios.eCRF.dll
/Helios.Frontend/bin/Debug/Helios.eCRF.exe
/Helios.Frontend/bin/Debug/Helios.eCRF.pdb
/Helios.Frontend/bin/Debug/Helios.Common.dll
/Helios.Frontend/bin/Debug/Helios.eCRF.deps.json

/Helios.Frontend/node_modules/.bin/loose-envify
/Helios.Frontend/node_modules/.bin/loose-envify.cmd
/Helios.Frontend/node_modules/.bin/loose-envify.ps1
/Helios.Frontend/node_modules/js-tokens/CHANGELOG.md
/Helios.Frontend/node_modules/js-tokens/index.js
/Helios.Frontend/node_modules/js-tokens/LICENSE
/Helios.Frontend/node_modules/js-tokens/package.json
/Helios.Frontend/node_modules/js-tokens/README.md
/Helios.Frontend/node_modules/react-is/cjs/react-is.development.js
/Helios.Frontend/node_modules/react-is/cjs/react-is.production.min.js
/Helios.Frontend/node_modules/react-slider/dist/cjs/dev/components/ReactSlider/ReactSlider.js
/Helios.Frontend/node_modules/react-slider/dist/cjs/dev/components/ReactSlider/ReactSlider.js.map
/Helios.Frontend/node_modules/react-slider/dist/cjs/dev/index.js
/Helios.Frontend/node_modules/react-slider/dist/cjs/dev/index.js.map
/Helios.Frontend/node_modules/react-slider/dist/cjs/index.js
/Helios.Frontend/node_modules/react-slider/dist/cjs/prod/components/ReactSlider/ReactSlider.js
/Helios.Frontend/node_modules/react-slider/dist/cjs/prod/index.js
/Helios.Frontend/node_modules/react-slider/dist/es/dev/components/ReactSlider/ReactSlider.mjs
/Helios.Frontend/node_modules/react-slider/dist/es/dev/components/ReactSlider/ReactSlider.mjs.map
/Helios.Frontend/node_modules/react-slider/dist/es/dev/index.mjs
/Helios.Frontend/node_modules/react-slider/dist/es/dev/index.mjs.map
/Helios.Frontend/node_modules/.bin/loose-envify
/Helios.Frontend/node_modules/.bin/loose-envify.cmd
/Helios.Frontend/node_modules/.bin/loose-envify.ps1
/Helios.Frontend/node_modules/.bin/loose-envify
/Helios.Frontend/node_modules/.bin/loose-envify.cmd
/Helios.Frontend/node_modules/.bin/loose-envify.ps1
/Helios.Frontend/node_modules/js-tokens/CHANGELOG.md
/Helios.Frontend/node_modules/js-tokens/index.js
/Helios.Frontend/node_modules/js-tokens/LICENSE
/Helios.Frontend/node_modules/js-tokens/package.json
/Helios.Frontend/node_modules/js-tokens/README.md
/Helios.Frontend/node_modules/loose-envify/cli.js
/Helios.Frontend/node_modules/loose-envify/custom.js
/Helios.Frontend/node_modules/loose-envify/index.js
/Helios.Frontend/node_modules/loose-envify/LICENSE
/Helios.Frontend/node_modules/loose-envify/loose-envify.js
/Helios.Frontend/node_modules/loose-envify/package.json
/Helios.Frontend/node_modules/loose-envify/README.md
/Helios.Frontend/node_modules/loose-envify/replace.js
/Helios.Frontend/node_modules/prop-types/checkPropTypes.js
/Helios.Frontend/node_modules/prop-types/factory.js
/Helios.Frontend/node_modules/prop-types/factoryWithThrowingShims.js
/Helios.Frontend/node_modules/prop-types/factoryWithTypeCheckers.js
/Helios.Frontend/node_modules/prop-types/index.js
/Helios.Frontend/node_modules/prop-types/lib/has.js
/Helios.Frontend/node_modules/prop-types/lib/ReactPropTypesSecret.js
/Helios.Frontend/node_modules/prop-types/LICENSE
/Helios.Frontend/node_modules/prop-types/package.json
/Helios.Frontend/node_modules/prop-types/prop-types.js
/Helios.Frontend/node_modules/prop-types/prop-types.min.js
/Helios.Frontend/node_modules/prop-types/README.md
/Helios.Frontend/node_modules/react-is/cjs/react-is.development.js
/Helios.Frontend/node_modules/react-is/cjs/react-is.production.min.js
/Helios.Frontend/node_modules/react-slider/dist/cjs/index.js
/Helios.Frontend/node_modules/react-slider/dist/cjs/prod/components/ReactSlider/ReactSlider.js
/Helios.Frontend/node_modules/react-slider/dist/cjs/prod/index.js
/Helios.Frontend/node_modules/.package-lock.json
/Helios.Frontend/node_modules/react-slider/CHANGELOG.md
/Helios.Frontend/node_modules/react-slider/dist/es/prod/components/ReactSlider/ReactSlider.mjs
/Helios.Frontend/node_modules/react-slider/dist/es/prod/index.mjs
/Helios.Frontend/node_modules/react-slider/LICENSE
/Helios.Frontend/node_modules/react-slider/package.json
/Helios.Frontend/node_modules/react-slider/README.md
/Helios.Frontend/node_modules/react-slider/dist/es/dev/components/ReactSlider/ReactSlider.mjs
/Helios.Frontend/node_modules/react-slider/dist/es/dev/components/ReactSlider/ReactSlider.mjs.map
/Helios.Frontend/node_modules/react-slider/dist/es/dev/index.mjs
/Helios.Frontend/node_modules/react-slider/dist/es/dev/index.mjs.map
/Helios.Frontend/bin/Debug
/Helios.Frontend/bin/Debug/spa.proxy.json
