.error-border {
    border: 1px solid red;
}

.error-message {
    color: red;
    font-size: 12px;
}

.toggle-visibility {
    position: absolute;
    right: 50px;
    cursor: pointer;
    margin-top: -27px;
    color: #535eb4;
    user-select: none;
}
