.adverse-btn {
    color: #fff !important;
    background-color: #ffa16c !important;
    border-color: #ffa16c !important;
}

.sadverse-btn {
    color: #fff !important;
    background-color: #ec4758 !important;
    border-color: #ec4758 !important;
}
